// Zeug, was in jeder Component gebraucht wird

// Abstände
@spacing-big-big: 4rem;
@spacing-big: 2rem;
@spacing-normal-big: 1.5rem;
@spacing-normal: 1rem;
@spacing-small: 1/2rem;
@spacing-small-small: 1/4rem;

.text-shadow(@color) {
  text-shadow: 2px 0 0 @color, -2px 0 0 @color, 0 2px 0 @color, 0 -2px 0 @color,
    1px 1px @color, -1px -1px 0 @color, 1px -1px 0 @color, -1px 1px 0 @color;
}

@clr-yellow: #f5e3ae;
@clr-blue: #4a728a;
@clr-red: #b97165;

.transition {
  transition: all 0.2s linear;
}

.sketchyFont {
  font-family: "ExTribusUnum" !important;
  font-weight: normal !important;
}

//shadow for hover
@border-offset: 0.1rem;
@border-radius: 0.2rem;
@border-color: #ffffff;
@drop-shadow: drop-shadow(
    @border-offset @border-offset @border-radius @border-color
  )
  drop-shadow(-@border-offset @border-offset @border-radius @border-color)
  drop-shadow(@border-offset -@border-offset @border-radius @border-color)
  drop-shadow(-@border-offset -@border-offset @border-radius @border-color);
